<h3>Schreib ein Kommentar dazu!</h3>
<%= simple_form_for([ memory, comment ], remote: true) do |f| %>
  <%= f.input :text, label: false %>
  <%= f.submit 'Abschicken', class: "btn btn-primary" %>
<% end %>
