<div class="container">
  <%= simple_form_for [@memory, @comment] do |f| %>
    <%= f.input :text %>
    <%= f.submit 'Bearbeiten', class: 'btn btn-primary' %>
  <% end %>
  <div class="mt-5">
    <%= link_to "Zurück", memory_path(@comment.memory) %>
  </div>
</div>
