<div class="home-banner d-flex justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path 'IMG_6913_ppqwmi' %>')">
  <div class="home-banner-text">
    <h1>Robin Amadeus</h1>
    <%= link_to "Zu den Bildern", baby_path(1), class: "home-btn" %>
  </div>
</div>

